@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
	Grooming is a vital part in the well-being and healthiness of a dog, which can improve its quality of life. How much grooming a dog needs depends on its breed, age, and health. Regular grooming helps to ensure the dog is healthy and comfortable. While many dogs shed, others such as the poodle, do not shed as profusely and require grooming every 4-8 weeks.[3]

	The main reasons for daily grooming include:

	decreased chance of various health problems, such as thrush, scratches, and other skin problems
	general cleanliness of the dog
	monitoring of the dog's health by checking for cuts, hot spots, swelling, lameness, or changes in temperament, all of which could be indicative of illness
	forging of a closer bond between dog and owner
	reducing infestation load of external parasites on skin
	avoid matting that can potentially cause health concerns like skin irritation or the entrapment of harmful bacteria in the coat
</p>
