@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
	Griffeen, Lucan, Co. Dublin<br />
	Rose, Manager Excutive<br />
	<abbr title="Phone">P:</abbr>
	(01)654487
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Rose@yahoo.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:DoggroomService@info.com">Marketing@example.com</a>
</address>