@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Dog Grooming</h1>
    
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Click Here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dog Grooming</h2>
        <p>
           Every Little Help with Dog Grooming. 
        </p>
        <p><a class="btn btn-info btn-lg" href="https://localhost:44344/ClientReg/Register">Start Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more About Grooming</h2>
        <p>
            refers to both the hygienic care and cleaning of a dog,
            as well as a process by which a dog's physical appearance is enhanced for showing or other types of competitionrefers to both the hygienic care and cleaning of a dog,
            as well as a process by which a dog's physical appearance is enhanced for showing or other types of competition.
        </p>
        <p><a class="btn btn-primary btn-lg" href="https://www.careerexplorer.com/careers/dog-groomer/"> Learn More&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What Happen when your Dog at Groomer</h2>
        <p>
            Nice brush out, bath and blow dry
            A pampering hair cut
            A pedicure, manicure and delicate ear cleaning.
            Meet some nice people and leave feeling refreshed and rejuvenated!
        </p>
        <p><a class="btn btn-warning btn-group-lg" href="https://www.petworld.ie/product-category/dog/dog-grooming/">Visit Our Service &raquo;</a></p>
    </div>
</div>